body{
    margin: 0;
    height: 100vh;
    background-color: white;
}

:root{
    /* Font styles*/
    --primary-font: "Playfair Display", serif;
    --secondary-font: "Montserrat", sans-serif;

    /*Colors*/
    --primary-color: rgba(255, 255, 255, 0.8);
    --secondary-color: #FFFFFF;

    --accent-color: #9d65e6;   /* charcoal instead of navy */
    --accent-color2: #A5B4FC;  /* soft light accent */
}

.app-container {
  display: flex;
  height: 100%;
  
}

.left-panel {
 
  justify-items: center;
  flex: 1;
  background-image: linear-gradient(to left, var(--accent-color), var(--accent-color2) );

}

.right-panel {
  display: flex;
  padding: .5rem;
  flex-direction: column;
  flex: 1.7;
  box-shadow: -5px 0 5px -2px #888;
  align-items: center;
  gap: 1rem;
  height: 100vh;
}
