body{
    margin: 0;
}

:root{
    /* Font styles*/
    --primary-font: "Playfair Display", serif;
    --secondary-font: "Montserrat", sans-serif;

    /*Colors*/
    --primary-color: #FFC482;
    --secondary-color: white;
    --accent-color: #2B3A67;
    --accent-color2: #496A81;
}

.app-container {
  display: flex;
  height: 100vh;
}

.left-panel {
  justify-items: center;
  flex: 1;
  color: var(--primary-color);
  background-image: linear-gradient(to left,#2B3A67, #496A81 );
  
}

.right-panel {
  display: flex;
  flex-direction: column;
  flex: 1.5;
  box-shadow: -5px 0 5px -2px #888;
  align-items: center;
  gap: 1rem;
}
